
.container {
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.student-form {
  width: 100%;
  max-width: 520px;
  background: #ffffff;
  padding: 28px;
  border-radius: 14px;

  /* FORM BOX EFFECT */
  border: 1px solid #86511e;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  background-color: #28a8a2;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;

  label {
    font-weight: 600;
    color: #1e293b;
  }

  input,
  select {
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #cbd5e1;
    font-size: 14px;
  }

  input:focus,
  select:focus {
    outline: none;
    border-color: #38bdf8;
  }
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 12px;

  button {
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
  }

  .cancel {
    background: #059c88;
    color: #1e293b;
  }

  .save {
    background: #38bdf8;
    color: #000;
  }
}
